---
import Html from "@/ui/layout/Html.astro";
import Tabs from "@/ui/components/Tabs.astro";
import Input from "@/ui/elements/Input.astro";
import Button from "@/ui/elements/Button.astro";
---

<Html>
  <div class="flex flex-col gap-4">
    <h4 class="text-xl">Credentials Auth Example</h4>
    <div class="rounded border bg-white p-4 flex items-start gap-4">
      {
        Astro.locals.user?.id ? (
          <span class="icon-[tabler--circle-check] w-6 h-6 text-green-600" />
        ) : (
          <span class="icon-[tabler--circle-x] w-6 h-6 text-red-600" />
        )
      }
      <div class="flex-1">
        <strong class="block font-medium text-gray-900">Auth Status:</strong>
        <p class="mt-1 text-sm text-gray-700">
          {Astro.locals.user?.id ? "Authenticated" : "Not authenticated"}
        </p>
      </div>
    </div>
    <Tabs
      options={[
        { label: "Sign Up", value: "/" },
        { label: "Login", value: "/login" },
        { label: "Logout", value: "/api/auth/logout" },
      ]}
    />
    <form action="/api/auth/signup" method="POST" class="flex flex-col gap-2">
      <Input id="username" label="Username" required />
      <Input id="password" label="Password" type="password" required />
      <Button type="submit">Continue</Button>
    </form>
  </div>
</Html>
