---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
		<h1>Astro + Lucia Auth</h1>
        <h2>Login</h2>
        <form action="/api/auth/login" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />
            <br><br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
            <br><br>
            <button type="submit">Continue</button>
        </form>
	</body>
</html>
